body{
 
    background: url(fondo.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.header{
	display:flex;
	justify-content: center;
	align-items:center;
  height: 60vh;
  background: url(mando.jpg)no-repeat center;
  background-size: cover;
    

}
.title{
  font-family: 'calibri' ;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: #940423;
  text-align: center;
  color:   #03c262;
}
.titulo{
  color: red;
  font-family: 30px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: #940423;
  
  color:   #061ce2;

}

nav a{
	font-weight:600;
	padding-right:10px ;
}
nav a:hover {
	color:rgb(7, 87, 37); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: 'Open Sans';
}

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: rgb(36, 235, 29);
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: rgb(214, 7, 180);
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(14, 218, 233, 0.5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: rgb(0, 192, 176);
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}
.final{
  font-family:'Gill Sans MT';
  text-align: center;
  color: rgba(0, 204, 240, 0.986);
  size: 30px;
}
section{
  display: flex;
  width: 600px;
  height: 430px;

}
section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;

}
section img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
.parrafo1{
  margin-bottom: 40px;
  font-size: 30;
  font-family: 'Calibri';
  color: aqua;
  align-content: center;
   
}
.parrafo2{
  margin-bottom: 40px;
  font-size: 40;
  font-family: 'Lucida Sans';
  color: rgb(226, 0, 0);
  align-content: center;
   size: 10;
}
.parrafo3{
  margin-bottom: 40px;
  font-size: 40;
  font-family: Calibri;
  color: rgb(191, 25, 224);
  align-content: center;
   size: 10;
}
  .awa{
    background: url(5k.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .titulo2{
    color: whitesmoke;
    align-content: center;
    font-family: Calibri;
  }
  .xd{
    font-family: Verdana;
    color: rgb(36, 235, 29);
  }

